# Created by venv; see https://docs.python.org/3/library/venv.html
# Byte-compiled / optimized / DLL files (Cache do Python)
__pycache__/
*.py[cod]
*$py.class

# Arquivos de Log e Testes
*.log
erro.log

# Ambientes Virtuais (caso use no futuro)
.venv/
venv/
env/